@model SolforbApp.ViewModels.DetailViewModel

@{
    ViewData["Title"] = "Информация о заказе";
}


<form method="post" asp-action="DeleteOrder" asp-route-orderId="@Model.OrderId">
    <a asp-action="EditOrder" asp-route-orderId="@Model.OrderId" class="btn btn-sm btn-primary">Редактировать</a>
    <button type="submit" class="btn btn-sm btn-danger">Удалить заказ</button>
</form>


<h2>Информация о заказе</h2>

<div>
    OrderDate:@Model.OrderDate <br />
    OrderNumber:@Model.OrderNumber <br />
    ProviderName:@Model.ProviderName <br />

    <a asp-action="CreateOrderItem" asp-route-orderId="@Model.OrderId" class="btn btn-sm btn-success">Добавить элемент заказа</a>
    <form method="get">
        <div class="row align-items-end">
            <input type="hidden" asp-for="OrderId" value="@Model.OrderId" />
            <div class="col-md-3">
                <label asp-for="OrderItemName" class="form-label">Name</label>
                <select asp-for="OrderItemName" asp-items="@Model.Names" class="form-control">
                    <option></option>
                </select>
            </div>

            <div class="col-md-3">
                <label asp-for="OrderItemUnit" class="form-label">Unit</label>
                <select asp-for="OrderItemUnit" asp-items="@Model.Units" class="form-control">
                    <option></option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="submit" value="Фильтр" class="btn btn-primary" />
            </div>
        </div>
    </form>
    
    <table class="table">
        <tr><th>Id</th><th>OrderId</th><th>Name</th><th>Quantity</th><th>Unit</th><th></th></tr>
        @foreach (var orderItems in Model.OrderItems)
        {
            <tr>
                <td>@orderItems.Id</td>
                <td>@orderItems.OrderId</td>
                <td>@orderItems.Name</td>
                <td>@orderItems.Quantity</td>
                <td>@orderItems.Unit</td>
                <td>
                    <form method="post" asp-action="DeleteOrderItems" asp-route-orderItemId="@orderItems.Id">
                        <a class="btn btn-sm btn-primary" asp-action="EditOrderItem" asp-route-orderItemId="@orderItems.Id">Изменить</a>
                        <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>