@model SolforbApp.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Главная страница";
}

<h2>Главная страница</h2>

<a asp-action="CreateOrder" class="btn btn-success">Добавить заказ</a>

<form method="get">
    <div class="row align-items-end">
        <div class="col-md-2">
            <label asp-for="DataStart" class="form-label">Дата начала периода</label>
            <input asp-for="DataStart" class="form-control" />
        </div>
        <div class="col-md-2">
            <label asp-for="DataEnd" class="form-label">Дата конца периода</label>
            <input asp-for="DataEnd" class="form-control" />
        </div>
        <div class="col-md-2">
            <label asp-for="Number" class="form-label">Номер</label>
            <select asp-for="Number" asp-items="@Model.Numbers" class="form-control">
                <option></option>
            </select>
        </div>
        <div class="col-md-2">
            <label asp-for="ProviderId" class="form-label">Поставщик</label>
            <select asp-for="ProviderId" asp-items="@Model.Providers" class="form-control">
                <option></option>
            </select>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Фильтр" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table">
    <tr><th>Id</th><th>Namber</th><th>Date</th><th>ProviderName</th><th></th></tr>
    @foreach (var order in Model.Orders)
    {
            <tr>
                <td>@order.Id</td>
                <td>@order.Number</td>
                <td>@order.Date</td>
                <td>@order.Provider.Name</td>
                <td>
                    <form method="post" asp-action="Detail" asp-route-orderId="@order.Id">
                        <button type="submit" class="btn btn-sm btn-primary">Подробнее</button>
                    </form>
                </td>
            </tr>
    }
</table>

